.soft-skills{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    &__description{
        height: 50%;
        width: 100%;
        overflow: hidden;
        text-align: justify;
        animation: paraAppears;
        animation-iteration-count: 1;
        animation-duration: 4s;        
        &__title{
            animation: appears;
            animation-iteration-count: 1;
            animation-duration: 3s;
        }
        &__para{
            animation-delay: 2s;
            animation: paraAppears 2000ms ease;
        }
    }
    &__com{
        height: 50%;
        display: flex;
        justify-content: space-between;
        &__section{
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &__title{
                animation: appears;
                animation-iteration-count: 1;
                animation-duration: 3s;
            }
            &__list{
                list-style: disc;
                list-style: inside;
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
            }
        }
    }
}
@media (min-width: 600px){
    .soft-skills{
        width: 50%;
        height: 75%;
        &__description{
            height: 50%;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            &__title{
                height: 15%;
                overflow: hidden;
            }
            &__para{
                height: 85%;
                width: 100%;
                align-self: center;
            }
        }
        &__com{
            height: 50%;
            justify-content: flex-start;
            &__section{
                width: 50%;
                &__title{
                    height: 20%;
                }
                &__list{
                    height: 80%;
                    justify-content: flex-start;
                    &__item{
                    }
                }
            }
        }
    }
}
.langue{
    &__title{
        word-break: break-all;
    }
}
@media (min-width: 600px){
    .perso{
        &__title{
            max-width: 80%;
        }
    }
}
@media (min-width: 2000px){
    .soft-skills{
        max-height: 40rem;
    }
}