@import "_projectsAnimation.scss";
@import "_intro.scss";
@import "_myWork.scss";
.projects{
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    &::-webkit-scrollbar {
        display: none;
    }
    &__page{
        height: 200vh;
    }
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-direction: column;  
}
@media (min-width: 600px){
    .projects{
        &__description{
            font-size: 2.3rem;
        }
    }
}
